---
title: Resumé
slug: resume

---
{%- set resume_url = site.url~'/build/static/Dan%20Keenan%20Resume' -%}
<p>
    <a class="btn btn-secondary" href="{{ resume_url }}.pdf">
        <i class="fas fa-download"></i>
        Download
    </a>
</p>
<iframe class="pdf embed-responsive" src="{{ resume_url }}.pdf" width="100%" height="100%">
    <img src="{{ resume_url }}.png">
</iframe>
